<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>                                             
    <h1>This is a home page</h1>
    <h3><%= ["hello", "bonjour", "namaste"][2] %></h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam obcaecati,
       assumenda voluptatum eaque sint rerum blanditiis repudiandae qui ducimus nam similique,
       quos quibusdam exercitationem sapiente quod, debitis autem impedit voluptates.
    </p>
    <button>Click me!</button>
</body>
</html>