section{
    margin-top: 100px;
}

div{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: aqua;
    border: 2px solid black;
    margin: 10px;
}

div:nth-of-type(2n){
    background-color: black;
    
}

div:nth-of-type(3n){
    background-color: chartreuse;

}
    /* transform */

#one{
    transform: rotate(45deg);
}

#two{
    transform: scale(0.5)
}

#three{
    transform: translate(100px, 100px);
}

#four{
    transform: skew(30deg);
}

#five{
    transform: rotate(30deg) translate(-100px);
}