.card{
    width: 200px;
    height: 450px;
    border: 2px solid #000000;
    display: inline-block;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0px 4px 18px black;
    transition: 1s;
}

.desc{
    padding: 0 2px 0 2px;
}

img{
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.card:hover{
    box-shadow: 0 8px 16px black;
}