h1{
    background-color: yellow;
    border: 2px solid black;
}

@media (width: 400px){
    h1{
        background-color: aqua;
        color: white;
    }
    div{
        height: 100px;
        width: 100px;
        background-color: chartreuse;
    }
}


@media (min-width:400px){
    h1{
        background-color: crimson;
    }
}