.box{
    height: 100px;
    width: 300px;
    background-color: aqua;

    /* animation-name: widthAnimate;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: normal; */
    
    animation: widthAnimate 3s ease-in 0s infinite normal;
}

@keyframes widthAnimate{
    from{
        width: 10px;
        background-color: brown;
    }
    to{
        width: 400px;
        background-color: darkgoldenrod;
        border-radius: 15px;
    }
}

@keyframes fontAnimation{
    from{
        font-size: 20px;
    }
    to {
        font-size: 40px;
    }
}

@keyframes ColorAnimate{
    from{
        background-color: chartreuse;
    }
    to {
        background-color: crimson;
    }
}