.container{
    width: 600px;
    height: 300px;
    background-color: aqua;
    display: -ms-inline-grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    /* row-gap: 10px;
    column-gap: 30px; */
    grid-gap: 10px;
    /* justify-items: center;
    align-items: center; */
    place-items: center;
    
}

.item{
    width: 100px;
    height: 50px;
    background-color: chartreuse;
    border: 2px solid black;
    text-align: center;
}

.one{
    justify-self: end;
    align-self: start;
}

