div{
    height: 200px;
    width: 500px;
    background-color: aqua;
    /*border-width: 5px;
    border-style: solid;
    border-color: black;*/
    border: 5px solid black;
    /* border-left: yellowgreen;
    border-left-color: blueviolet; */
     /* border: 5px dashed blue; */
    border-radius: 10px;
    padding: 10px;
    margin: 20px 30px 40px 50px;
}

h1{
    /* border-width: 2px;
    border-style: dashed;
    border-color: purple; */
    border: 2px dashed green;
    /*border-radius: 50%;*/
    margin: 0;
}

button{
    border: 2px solid black;
    /* border-radius: 10px; */
    padding-left: 0 30px 0 30px;
    background-color:yellow;
    
}