#container{
    height: 600px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: raw;
    justify-content: flex-start;
    /*justify-content: flex-end;*/
    /*justify-content: center;*/
    /*justify-content: space-between;*/
    /*justify-content: space-around;*/
    /*justify-content: space-evenly;*/
      flex-wrap: wrap;
    /*flex-wrap: nowrap;*/
    /*flex-wrap: wrap-reverse*/ 
      /* align-items: center; */
    /*align-items: flex-start;*/
    /*align-items: flex-end;*/
    /*align-items: baseline;*/
      /* align-content: flex-start; */
    /*align-content: flex-end;*/
    /*align-content: center;*/
    /*align-content: space-around;*/
    /*align-content: space-evenly;*/
    /*align-content: space-between;*/
      align-content: flex-start;
}
#org{
      align-self: flex-start;
    /*align-self: flex-end;*/
    /* align-self: center; */
    /* align-self: baseline;*/
    /* flex-basis: 50px; */
    /* flex-shrink: 1; */
    flex: 2 2 100px;
}
#blue{
    /* flex-basis: 400px;
    flex-grow: 1; */
    flex-shrink: 3;
}


h1{
    text-align: center;
}

#container div{
    height: 100px;
    width: 300px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}