body {
  background: white;
  color: blueviolet;
  font-family: Arial;
}

.chat {
  background-color: aqua;
  padding: 20px;
  border-radius: 16px;
  display: inline-block;
}

.msg {
  background-color: white;
  color: black;
  padding: 5px 15px;
  border-radius: 16px;
  font-weight: bold;
}
