h1{
    font-family: league spartan;
    color: chartreuse;
    text-align: center;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5;
    text-decoration: teal double underline;
    text-transform: uppercase;
}